.navbar-custom{
    height: 100vh;
    width: 15%;
    min-width: 200px;
    background: #053e4c;
}

@media screen and (max-width: 667px) {
    .navbar-custom {
        width: 100%;
        height: 221.5px;
    }
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 667px) {
    .navbar-visible {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 667px) {
    .lista {
        display: none;
    }
}


.navbar-custom ul li{
    cursor: pointer;
}

.navbar-custom ul li:hover{
    background: red;
}

.selected{
    background: red;
}

.navbar-custom ul a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: center;
}

.navlink{
    display: flex;
    justify-content:space-between;
    padding: 1rem;
}

.navlink p{
    margin: 0;
}

.responsive-button{
    background: transparent;
    border: none;
}



@media screen and (max-width: 667px) {
    .responsive-button i{
        color: white;
        margin-left: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 667px) {
    .responsive-button {
        display: none;
    }
}

@media screen and (min-width: 667px) {
    .navbar-visible {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}




